extends layout

block layout-content
  .container.position-absolute.top-50.start-50.translate-middle
    .row.justify-content-center
      .col-6.text-center.text-light
        .card.text-white.bg-dark.mb-3
          .card-body
            .card-title
              h1 This is a book managing website, created with NodeJS.
            .card-text
              small by Druker Remus-Antonio
        
        